@font-face {
  font-family: 'Rosatom';
  src: url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Bold_W/Rosatom-Bold_W.woff') format('woff'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Bold_W/Rosatom-Bold_W.woff2') format('woff2'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Bold_W/Rosatom-Bold_W.ttf') format('trutype'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Bold_W/Rosatom-Bold_W.eot') format('eot');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rosatom';
  src: url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Italic_W/Rosatom-Italic_W.woff') format('woff'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Italic_W/Rosatom-Italic_W.woff2') format('woff2'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Italic_W/Rosatom-Italic_W.ttf') format('trutype'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Italic_W/Rosatom-Italic_W.eot') format('eot');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rosatom';
  src: url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Light_W/Rosatom-Light_W.woff') format('woff'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Light_W/Rosatom-Light_W.woff2') format('woff2'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Light_W/Rosatom-Light_W.ttf') format('trutype'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Light_W/Rosatom-Light_W.eot') format('eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rosatom';
  src: url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Regular_W/Rosatom-Regular_W.woff') format('woff'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Regular_W/Rosatom-Regular_W.woff2') format('woff2'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Regular_W/Rosatom-Regular_W.ttf') format('trutype'),
    url('/fonts/RosatomFonts/Rosatom_web/Rosatom-Regular_W/Rosatom-Regular_W.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}
