$color-black: #292D33;
$color-black-super: #292D33;
$color-gray: #9497A1;
$color-gray-light: #F1F6FA;
$color-white: #F5F5F5;
$color-white-super: #fff;
$color-blue-alice: #F0F9FF;
$color-blue-dark: #035DA1;
$color-blue-secondary: #003274;
$color-blue-light: #6CACE4;
$color-blue-helper: #607D94;
$color-blue: #59ADE4;
$color-blue-deep: #002B4E;
$color-green: #3EB090;
